<%# app/views/layouts/application.html.erb %>
<!DOCTYPE html>
<html>
  <head>
    <title>ShiftHub JP</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag  "tailwind", "data-turbo-track": "reload" %>
    
    <%= javascript_importmap_tags %>
  </head>
  <body class="flex flex-col min-h-screen bg-gray-50">
    <%= render 'layouts/navbar' %>
    <main class="flex-grow container mx-auto px-6 py-8">
      <%= render 'layouts/flash_messages' %>
      <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>